.todoItem{
    background: #fff;
    padding: 15px;
    padding-right: 30px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 8px;
}

.todoItem .checkMark {
    margin-left: 10px;
}

.todoItem .delete {
    border: none;
    background: none;
    position: absolute;
    font-size: 15px;
    right: 0;
    top: 0;
    padding: 4px 8px;
    background: red;
    color: #fff;
    cursor: pointer;
}